.structure-page {
  .main {
    width:80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 27px;
      color:$blue;
      text-transform: uppercase;
      margin: 40px 0;
    }
    .body {
      display: flex;
      flex-direction: row;
      margin-top:40px
    }
    .content {
      display: flex;
      flex-direction: column;
      width:60%;
      box-sizing: border-box;
    }
  }
}