.slider {
  display: flex;
  flex-direction: row;
  img {
    width: 50%;
  }
  div {
    width: 50%;
    background-color: $red;
    color: $white;
    padding: 60px 24px;
    box-sizing: border-box;
    h4 {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 28px;
    }
    p {
      font-size: 18px;
      line-height: 32px;
    }
  }
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    img {
      width: 100%;
    }
    div {
      width: 100%;
      padding: 12px;
    }
  }
}
.w-100 {
  width: 100%;
}
.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  * {
    transition: 0.3s;
  }
  a {
    width: 30%;
    transition: 0.3s;
    text-decoration: none;
    background-color: #f1f4f9;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    cursor: pointer;
    img {
      // transition: 0.3s;
      width: 130px;
      height: 120px;
      margin-bottom: 40px;
    }
    p {
      // transition: 0.3s;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: $blue;
      text-align: center;
    }
  }
  :hover {
    background-color: $red;
    p {
      color: white;
    }
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    a {
      width: 100%;
      padding: 16px;
    }
  }
}
.structural-unit {
  display: flex;
  margin: 15px;
  flex-direction: row;
  background: #f1f4f9;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
  // width: 45%;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
  img {
    background: #ffffff;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    padding: 12px;
    box-sizing: border-box;
    margin-right: 16px;
    margin-bottom: 0 !important;
  }
  p {
    margin-bottom: 0 !important;
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    width: 100%;
  }
}

.divider {
  border: 2px solid #ed1a3b;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 34.5px 0px;
}
