@import './vars.scss';
@import './typography.scss';

//components
@import './components//Header.scss';
@import './components//Footer.scss';
@import './components/News.scss';
@import './components/Sidebar.scss';
@import './components/Collapse.scss';
@import './components/burger-menu.scss';

//pages
@import './pages/mainPage.scss';
@import './pages//aboutPage.scss';
@import './pages/structurePage.scss';
@import './pages/studentsPage.scss';

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'SFProDisplay', sans-serif;
}
ul, li, button {
  font-family: inherit;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
