@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-Thin.otf');
}

@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-ThinItalic.otf');
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-ExtraLight.otf');
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-ExtraLightItalic.otf');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-Light.otf');
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-LightItalic.otf');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-Regular.otf');
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-Italic.otf');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-Bold.otf');
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-BoldItalic.otf');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-ExtraBold.otf');
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-ExtraBoldItalic.otf');
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-Heavy.otf');
}

@font-face {
  font-weight: 800;
  font-style: italic;
  font-family: 'TTNorms';
  font-display: swap;
  src: url('/fonts/TTNorms-HeavyItalic.otf');
}

