
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'SFProDisplay';
  font-display: swap;
  src:url('/fonts/SFProDisplay-Regular.ttf')
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'SFProDisplay';
  font-display: swap;
  src: url('/fonts/SFProDisplay-Medium.ttf');
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'SFProDisplay';
  font-display: swap;
  src: url('/fonts/SFProDisplay-Semibold.ttf');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'SFProDisplay';
  font-display: swap;
  src: url('/fonts/SFProDisplay-Bold.ttf');
}
@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: 'SFProDisplay';
  font-display: swap;
  src: url('/fonts/SFProDisplay-Heavy.ttf');
}
@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: 'SFProDisplay';
  font-display: swap;
  src: url('/fonts/SFProDisplay-Black.ttf');
}

