@import '../../styles/vars.scss';

.block {
  background: #ffffff;
  padding: 20px !important;
  box-shadow: 2px 2px 12px rgba(0, 84, 166, 0.6);
  border-radius: 10px;
  .title {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0054a6;
  }
  p {
    font-size: 13px;
    font-weight: 600;
  }
  span {
    font-size: 13px;
  }
}

@media screen and (max-width: $tablet) {
  .cardDepartment {
    flex-direction: column;
  }
}
