.CardTrainingUnit {
  padding: 20px;
  background: #f1f4f9;
  border: 1px solid #c8dcff;
  box-sizing: border-box;
  border-top-right-radius: 30px;
  h4 {
    font-size: 24px;
    line-height: 27px;
    /* or 112% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #0054a6;
  }
  img {
    margin: 10px;
    padding: 10px;
  }
}

.CardTrainingUnit:hover {
  background: #dadde2;
}
