@import '../../styles/vars.scss';

.collapse {
  display: flex;
  justify-content: space-between;
  .blocks {
    width: 100%;
    .block {
      padding: 16px;
      margin-bottom: 20px;
      cursor: pointer;
      box-sizing: border-box;
      background: #f1f4f9;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      .titleLine {
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        .title {
          color: #464646;
          font-weight: bold;
          font-size: 18px;
          line-height: 26px;
          display: flex;
          flex-direction: column;
          span {
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: #464646;
          }
        }
        .collapseButton {
          position: absolute;
          top: 0;
          cursor: pointer;
          right: 0;
        }
        .collapseImage {
          width: 146px;
          height: 146px;
          border-radius: 50%;
          margin-right: 40px;
        }
      }
    }
  }
}
.customCollapse {
  transition: height 500ms;
  .collapsedContent {
    padding-top: 16px;
    font-size: 16px;
    div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 12px;
      p {
        font-weight: 600 !important;
        font-size: 14px !important;
        letter-spacing: 0.03em;
        color: #000000;
        width: 20%;
        line-height: 18px !important;
        margin-right: 16px;
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        width: 80%;
        letter-spacing: 0.03em;
        color: #464646;
      }
    }
  }
}
