.header {
  width: 100%;
  background: $red;

  .wrapper {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 1180px;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    align-items: center;
    li {
      margin-left: 24px;
    }
  }
  &__logo {
    width: 152px;
    cursor: pointer;
  }
  &__list-item {
    padding: 24px 0;
    color: $white;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
  }

  &__selected {
    background-color: $white;
    padding: 24px 16px;
    color: $red;
    font-weight: bold;
    box-shadow: 1px 2px 4px #990a20;
    position: relative;
  }
  &__links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: calc(100% + 5px);
    z-index: 100;
    background: $red;
    padding: 10px;
    left: 0;
    width: max-content;
    a {
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      color: $white;
      line-height: 150%;
      margin-top: 4px;
      font-weight: normal;
    }
  }
  &__lang {
    position: relative;
    button {
      background: transparent;
      color: white;
      font-size: 18px;
      border: none;
      cursor: pointer;
      img {
        margin-left: 4px;
      }
    }
    div {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: calc(100% + 5px);
      z-index: 100;
      background: $red;
      padding: 10px;
      left: 0;
      width: max-content;
      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        margin-bottom: 8px;
      }
    }
  }
  @media screen and(max-width:$tablet) {
    li {
      display: none;
      margin-left: 0 !important;
    }
  }
}
